@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,700&family=Yanone+Kaffeesatz&display=swap');
html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
}

body {
  margin: 0;
  color: white; 
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6{
  line-height: 15px;
  color:white !important;
}

p{ 
  color:white !important;
}

h3{
  line-height: 0px;
}

.ant-affix{
  width:100% !important;
}
 
.ant-anchor-wrapper {
    margin-left: -4px;
    padding-left: 4px;
    overflow: auto;
    color:white !important;
    background-color: transparent !important;
}

.ant-anchor-ink {
   display: none !important;
}

.ant-anchor-link-title{
  color:#b3b3b3 !important;
  opacity: 0.9;
}

.ant-anchor-link-title:hover{
  color:white !important;
  opacity: 0.9;
}

.ant-anchor-link-title-active{
  color: white !important;
}
 
.ant-form-item-control-input-content > input, .ant-form-item-control-input-content > textarea {
  background-color: #262626 !important; 
  border: 1px solid #404040; 
  width:100% !important;
} 
  
input:focus{
   border: transparent;
}

.ant-input {  
    color:#999999 !important;
}

.ant-input:focus { 
    text-decoration: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color:#bfbfbf !important;
}

.ant-input:hover { 
    text-decoration: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color:#bfbfbf !important;
}
 
.ant-progress-text{
  color:white !important;
}